@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Libre+Baskerville:wght@700&family=Plus+Jakarta+Sans:wght@300;400;600;700;800&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Libre+Baskerville:wght@700&family=Pacifico&family=Plus+Jakarta+Sans:wght@300;400;600;700;800&family=Roboto+Condensed:wght@300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* index */
.body-index{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container{
  background-color: #fff;
  box-shadow: 0 5 px 15 px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
}

.container h1 {
  font-weight: 800;
}

.container p{
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span{
  font-size: 12px;
}

.container a{
  color: #333;
  font-size: 10px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button{
  background-color: #113946;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden{
  background-color: transparent;
  border-color: #fff;
}

.container form{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0.40px; */
  height: 100%;
}

.container input{
  background-color: #fff;
  border:none;
  border-bottom: 1px solid #607274;
  margin: 2px 0;
  padding: 10px 15px;
  font-size: 13px;
  width: 100%;
  outline: none;
  text-align: right;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.input-container input {
  padding-left: 30px; /* Adjust this value based on the icon's width and padding */
  text-align: right;
}

.container.input:invalid {
  border: 2px solid black;
}

.form-container{
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.sign-in{
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in{
  transform: translateX(100%);
}

.sign-up{
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up{
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move{
  0%, 49.99%{
    opacity: 0;
    z-index: 1;
  }
  50%, 100%{
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.toggle-container h1 {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
}

.container.active .toggle-container{
  transform: translateX(-100%);
}

.toggle{
  background-color: #113946;
  height: 100%;
  background: #113946;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle{
  transform: translateX(50%);
}

.toggle-panel{
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left{
  transform: translateX(-200%);
}

.container.active .toggle-left{
  transform: translateX(0);
}

.toggle-right{
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right{
  transform: translateX(200%);
}

/* profile */
.body-profile {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFF2D8;
}

header {
  background-color: #113946;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.logo-container{
  display: flex;
  justify-content: center;
  margin-left: 40%;
}

.username-icon-container p { /* in header */
  margin-right: 10px;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 100px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 8px 12px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  max-width: 100px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.avatar {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 50%; /* Make the image circular */
  border: 5px solid white; /* Add a thin white border */
  margin-left: 30px;
  margin-top: 20px;
}

.username2{ 
  font-weight: bold;
  margin-left: 10px;
  font-size: 40px;
}

.user-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute elements across available space */
}

.add-item-button {
  background-color: #BCA37F;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #BCA37F;
  border-radius: 0px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
  margin-top: 20px;
  margin-right: 10px;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensures inline-block behavior */
}

.add-item-button:hover {
  background-color: #fff;
  color: #BCA37F;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add space between user info and button */
}

.item-container {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px; 
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 15px;
}

.item {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-sizing: border-box;
  border: 10px solid #fff;
  background-color: #fff;
}

.item-name {
  font-weight: 100;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-price{
  font-weight: 100;
  color: #BCA37F;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #113946;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* add item page */
main {
  background-color: #FFF2D8;
}

/* .add-picture-container {
  width: auto;
  overflow: hidden;
  background-color: #FFF2D8;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.picture-section {
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.picture-section h2 {
  margin-bottom: 15px;
}

.gallery-container {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease;
}

.upload-box {
  width: 300px; 
  height: 200px; 
  border: 2px solid #ccc;
  background-color: #fff;
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  text-align: center;
  cursor: pointer;
  padding: 20px;
}

.upload-box p {
  margin: 20;
  display: flex;
}

.gallery img {
  width: 200px; 
  height: 150px; 
} */

.file-input-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.input-add-container-file-inputs{
  max-width: 300px;
  padding: 30px;
  align-items: center;
}

.add-item-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid transparent;
}

.input-add-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-add-container label {
  width: 120px; /* Fixed width for labels */
  padding-right: 20px;
  text-align: right;
}

.input-add-container input,
.input-add-container textarea {
  flex: 1;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-add-container textarea {
  resize: vertical;
}

.input-add-container.row-container {
  flex-direction: row;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row label {
  margin-right: 20px;
}

/* Remove flex: 1 from input-row input */
.input-row input {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

.radio-group input[type="radio"] {
  transform: scale(0.8);
  margin-top: 2px;
  color: #000000;
}

.add-new-item-button {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  background-color: #BCA37F;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}

/* Dropdown styles */
.dropdownCategory {
  position: relative;
  display: inline-block;
}

.dropbtnCategory {
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.dropdownCategory-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto; /* Add scrollbar if content overflows */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownCategory-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownCategory-content a:hover {
  background-color: #ddd;
}

.dropdownCategory:hover .dropdownCategory-content {
  display: block;
}

/* add_cart */
.add-cart-main h1{
  font-weight: 600;
}
.add-cart-main p{
  font-weight: 100;
  display: flex;
  align-items: center; /* Adjust if necessary */
  justify-content: flex-end;
  flex-direction: row;
}

.item-table-container{
  
  display: flex;
  justify-content: space-between;
}
