@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Libre+Baskerville:wght@700&family=Plus+Jakarta+Sans:wght@300;400;600;700;800&family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Libre+Baskerville:wght@700&family=Pacifico&family=Plus+Jakarta+Sans:wght@300;400;600;700;800&family=Roboto+Condensed:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* Index.html */
.body-index {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.container {
  background-color: #fff;
  box-shadow: 0 5 px 15 px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
}

.container h1 {
  font-weight: 800;
}

.container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.container span {
  font-size: 12px;
}

.container a {
  color: #333;
  font-size: 10px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.container button {
  background-color: #113946;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 0.40px; */
  height: 100%;
}

.container input {
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #607274;
  margin: 2px 0;
  padding: 10px 15px;
  font-size: 13px;
  width: 100%;
  outline: none;
  text-align: right;
}

.input-container {
  position: relative;
  margin-bottom: 15px;
}

.input-container i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.input-container input {
  padding-left: 30px; /* Adjust this value based on the icon's width and padding */
  text-align: right;
}

.container.input:invalid {
  border: 2px solid black;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.active .sign-in {
  transform: translateX(100%);
}

.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.toggle-container h1 {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
}

.container.active .toggle-container {
  transform: translateX(-100%);
}

.toggle {
  background-color: #113946;
  height: 100%;
  background: #113946;
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.container.active .toggle-right {
  transform: translateX(200%);
}

/* user_profile.php */
.body-profile {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff2d8;
}

header {
  background-color: #113946;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-family: 'Pacifico', cursive;
  font-size: 50px;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-left: 40%;
}

.username-icon-container p {
  /* in header */
  margin-right: 10px;
}

.dropdown {
  display: inline-block;
}

.dropbtn {
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;
  max-width: 100px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #333;
  padding: 8px 12px;
  font-size: 12px;
  text-decoration: none;
  display: block;
  max-width: 100px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.avatar {
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  border-radius: 50%; /* Make the image circular */
  border: 5px solid white; /* Add a thin white border */
  margin-left: 30px;
  margin-top: 20px;
}

.username2 {
  font-weight: bold;
  margin-left: 10px;
  font-size: 40px;
}

.user-button-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribute elements across available space */
}

.add-item-button {
  background-color: #bca37f;
  color: #fff;
  padding: 10px 30px;
  border: 1px solid #bca37f;
  border-radius: 0px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 100;
  margin-top: 20px;
  margin-right: 10px;
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Ensures inline-block behavior */
}

.add-item-button:hover {
  background-color: #fff;
  color: #bca37f;
}

.user-info {
  display: flex;
  align-items: center;
  margin-right: 10px; /* Add space between user info and button */
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 15px;
  padding-bottom: 30px;
}

.wrapper-container{
    height: 100%;
}

.item {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid transparent;
  cursor: pointer;
}

.item-image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  box-sizing: border-box;
  border: 10px solid #fff;
  background-color: #fff;
}

.item-name {
  font-weight: 100;
  font-size: 25px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-price {
  font-weight: 100;
  color: #bca37f;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  background-color: #113946;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-item .editBtn{
  width: 125px;
  background: transparent;
  color: #000000;
  border: none;
  text-decoration: underline;
  border-radius: 3px;
  padding: 8px 5px;
  font-size: 16px;
  font-weight: 200;
  cursor: pointer;
  margin: 10px auto 0;
}

.editBtn:hover {
  color: #ccc;
  }

/* add_item.html */
.body-add-item {
  background-color: #fff2d8;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

main {
  background-color: #fff2d8;
  flex: 1;
}

.file-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 20px;
  gap: 30px;
}

.input-add-container-file-inputs {
  max-width: 300px;
  max-height: 300px;
  padding: 30px;
  align-items: center;
  border: 1px dashed #ccc;
  position: relative; /* Establishes a positioning context for absolute children */
  overflow: hidden; /* Prevents image overflow */
}

#previewImage {
  max-width: 250px;
  max-height: 250px;
  margin-top: 10px;
  position: absolute; /* Positions relative to the parent container */
  top: 0; /* Aligns with the top of the container */
  left: 0; /* Aligns with the left of the container */
  bottom: 0;
  right: 0;
  margin: auto; /* Centers the image within the container */
  object-fit: contain; /* Adjust as needed, 'contain' preserves aspect ratio without cropping */
}

.add-item-form {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid transparent;
}

.input-add-container {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-add-container label {
  width: 120px; /* Fixed width for labels */
  padding-right: 20px;
  text-align: right;
}

.input-add-container input,
.input-add-container textarea {
  flex: 1;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-add-container textarea {
  resize: vertical;
}

.input-add-container.row-container {
  flex-direction: row;
}

.input-row {
  display: flex;
  align-items: center;
}

.input-row label {
  margin-right: 20px;
}

.input-row input {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.location-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.radio-group {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.radio-group label {
  margin-right: 10px;
}

.radio-group input[type='radio'] {
  transform: scale(0.8);
  margin-top: 2px;
  color: #000000;
}

.add-new-item-button {
  display: block;
  width: 200px;
  margin: 20px auto 0;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #bca37f;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}

.dropdownCategory {/* Dropdown styles */
  position: relative;
  display: inline-block;
}

.dropbtnCategory {
  background-color: #fff;
  color: #000000;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: 45px;
  display: flex;
  justify-content: space-between;
}

.dropdownCategory-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  max-height: 200px; /* Adjust this value as needed */
  overflow-y: auto; /* Add scrollbar if content overflows */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownCategory-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownCategory-content a:hover {
  background-color: #ddd;
}

.dropdownCategory:hover .dropdownCategory-content {
  display: block;
}

/* add_cart.html */
.add-cart-main h1 {
  font-weight: 600;
  padding: 30px;
}

.add-cart-main p {
  font-weight: 100;
  display: flex;
  align-items: center; /* Adjust if necessary */
  justify-content: flex-end;
  flex-direction: row;
}

.item-table-container table {
  width: 100%;
}

.item-table-container th {
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.item-table-container td {
  font-weight: 100;
  text-align: center;
  padding: 10px;
}

.item-table-container th:nth-child(1),
.item-table-container th:nth-child(2),
.item-table-container th:nth-child(3) {
  color: transparent;
}

.item-table-container img {
  width: 150px;
  height: 150px;
  display: block; /* To prevent any potential alignment issues */
  margin: auto; /* Center the image within the cell */
}

.quantity-button button {
  background-color: transparent;
  color: #ccc;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 2px;
  border-radius: 4px;
}

.quantity-button button:hover {
  background-color: transparent;
  color: #000000;
}

.check-out-button {
  display: block;
  width: 200px;
  margin: 20px auto 0; /* <-- This margin might be causing the white space */
  padding: 10px;
  margin-bottom: 0; /* <-- Set margin-bottom to 0 to remove the white space */
  background-color: #bca37f;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}

#totalPrice {
  color: #000000;
  font-weight: 500;
  border-top: 1px solid #bca37f;
  padding-top: 10px;
}

/* homepage.php */
.cart-icons {
  color: white;
}

.cart-icons a {
  color: white;
  text-decoration: none; /* Optional: Remove underline from the link */
}

.username-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-main {
  display: grid;
  grid-template-columns: 1fr 3fr; /* 1/4 and 3/4 of the screen */
  gap: 20px; /* Adjust the gap as needed */
}

.leftContainer {
  background-color: #fff2d8; /* Set background color for leftContainer */
  padding: 20px; /* Adjust padding as needed */
}

.right-container {
  padding: 20px; /* Adjust padding as needed */
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  margin-top: 20px;
  background-color: #fff2d8;
  /* position:absolute; */
  right: 10px;
  top: 21%;
  background-color: transparent;
  order: -1; /* Move the search container to the top */
  margin-bottom: 20px; /* Add some space between search container and grid container */
}

.search-input {
  flex: 1;
  padding: 8px;
  max-width: 95%;
  border: transparent;
  border-radius: 4px;
}

.search-button {
  padding: 8px;
  background-color: #113946;
  width: 40px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter-categories li,
.price-range li {
  padding: 5px 10px;
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  border: 1px solid transparent;
  text-align: left;
  font-weight: 100;
  color: #000000;
}

#filter-heading {
  color: white;
  font-weight: 600;
  padding: 0 10px 0 5px;
}

#categories {
  color: #bca37f;
  font-weight: bold;
  padding-left: 5px;
}

.filter {
  padding: 5px 5px;
  background-color: #bca37f;
  margin-bottom: 10px;
  margin-left: 50px;
  display: inline-block;
  border: 1px solid #ccc;
  min-width: 150px;
  text-align: left;
}
.categories {
  background-color: #ffffff;
}

.filter-categories,
.price-range {
  list-style-type: none;
  padding: 0;
}
.filter-categories li:hover,
.price-range li:hover {
  background-color: #ddd;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  background-color: transparent;
  padding: 20px;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  height: 100%;
}

.grid-item img {
  width: 100%; /* Set the width to 100% of the parent container */
  height: 100%; /* Maintain the aspect ratio */
  max-width: 200px; /* Set a maximum width to avoid excessively large images */
  max-height: 200px; /* Set a maximum height to avoid excessively tall images */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.grid-item h3 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 10px;
}

#mainPrice {
  color: #bca37f;
  font-weight: 200;
  font-size: 1.2rem;
}

.grid-container .btn {
  width: 125px;
  background: transparent;
  color: #000000;
  border: none;
  text-decoration: underline;
  border-radius: 3px;
  padding: 8px 5px;
  font-size: 14px;
  font-weight: 200;
  cursor: pointer;
  margin: 10px auto 0;
}

/* Add this CSS code in your style.css file or within a style tag in the head of your HTML document */
.pagination-container {
  margin-top: 20px;
  text-align: center;
}

.pagination-link {
  display: inline-block;
  padding: 8px 12px;
  text-decoration: none;
  color: #ccc;
  background-color: transparent;
  border-radius: 5px;
  margin: 0 5px;
}

.pagination-link:hover,
.pagination-link.active {
  color: #113946;
}



/* item_details.php */
.cart-icons a {
  color: white;
  text-decoration: none; /* Optional: Remove underline from the link */
}
/* Update the CSS in your existing style.css or in a separate CSS file */
body {
  margin: 0;
  padding: 0;
  overflow-y: auto;
}

.item-details-main {
  padding-top: 50; /* Remove or set to 0 to eliminate any top padding */
}

.item-details-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Use min-height to ensure the container takes at least 100% of the viewport height */
  padding-top: 70px;
  padding-left: 30px;
  overflow-y: auto;
}

.item-details-pic {
display: flex;  
justify-content: space-evenly;
max-width: 100%; /* Adjust the maximum width of the item details */
padding: 40px;
}

.pic-container {
  background-color: #fff;
  width: 450px; /* Set a fixed width for the container */
  height: 350px; /* Set a fixed height for the container */
  max-width: 100%; /* Ensure the container doesn't exceed its parent's width */
  max-height: 100%; /* Ensure the container doesn't exceed its parent's height */
  overflow: hidden; /* Hide any overflow if the image is larger than the container */
  padding: 30px;
  justify-content: space-around;
}

.item-details-pic img {
  width: fit-content; /* Make the image fill the container's width */
  height: 280px; /* Allow the image to maintain its aspect ratio */
  display: block; /* Remove any extra space below the image */
  margin: 0 auto; /* Center the image horizontally */
}

.item-details-namebutton{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

.item-details-desc{
 gap: 40px;
}

.item-details-namebutton h2{
  color: #113946;
  font-size: 65px;
  padding-bottom: 20px;
}

.item-details-desc p{
  color: #000000;
  font-size: 35px;
  padding-bottom: 20px;
}

.add-to-cart-btn {
padding: 10px 20px;
background-color: #BCA37F;
color: white;
border: none;
border-radius: 0;
font-size: 20px;
font-weight: 300;
cursor: pointer;
transition: background-color 0.3s;
align-items: center;
}

.add-to-cart-btn:hover {
background-color: #ccc;
}

/* edit_item.php */
.update-item-button {
  display: block;
  width: 200px;
  margin: 20px 10px 0 0; /* Adjust the margins as needed */
  padding: 10px;
  background-color: #bca37f;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 100;
  font-size: 20px;
}

.ud-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center items horizontally */
}

.ud-container .dlt-button {
  align-items: center;
  margin-top: 20px; /* Adjust the margin as needed */
}

.ud-container i {
  color: #ccc;
  cursor: pointer;
  height: 150px; /* Increase the height as needed */
  width: 150px; /* Increase the width as needed */
  background-color: transparent;
  border: 1px transparent;
}

/* Media Queries for Responsive Design */
@media (max-width: 990px) {
  .container h1 {
    font-size: 3rem;
  }
  .form-container.sign-up {
    text-align: center;
  }
  .form-container.sign-up h1 {
    font-size: xx-large;
  }

  .logo-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 670px) {
  .container h1 {
    font-size: 3rem;
  }
  .container button {
    padding: 10px 35px;
  }
  .form-container.sign-up {
    text-align: center;
  }
  .form-container.sign-up h1 {
    font-size: xx-large;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .container h1 {
    font-size: xx-large;
  }
  .container button {
    padding: 10px 35px;
  }
  .form-container.sign-up {
    text-align: center;
  }
  .form-container.sign-up h1 {
    font-size: xx-large;
  }
  .logo-container {
    display: flex;
    justify-content: center;
  }
}


